<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"-->
<!--            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"-->
<!--            crossorigin="anonymous"-->
<!--    />-->
<!--    <link rel="stylesheet" href="./styles/styles.css" />-->
<!--    <title>P1 Intellijs</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Navbar Section &ndash;&gt;-->
<!--<nav class="navbar">-->
<!--    <a href="/home" class="navbar__logo">SECRET</a>-->
<!--    <div class="navbar__bars"><i class="fas fa-bars"></i></div>-->
<!--    <div class="navbar__menu">-->
<!--        <a href="/" class="navbar__menu&#45;&#45;links">Home</a>-->
<!--        <a href="/" class="navbar__menu&#45;&#45;links">Products</a>-->
<!--        <a href="/" class="navbar__menu&#45;&#45;links">Services</a>-->
<!--        <a href="/" class="navbar__menu&#45;&#45;links" id="button">Sign Up</a>-->
<!--    </div>-->
<!--</nav>-->

<!--&lt;!&ndash; Hero Section &ndash;&gt;-->
<!--<div class="hero">-->
<!--    <div class="hero__container">-->
<!--        <div class="hero__container&#45;&#45;left">-->
<!--            <h1>College Apps Are Coming!</h1>-->
<!--            <h2>Be Prepared</h2>-->
<!--            <p>Sign up now to join the list.</p>-->
<!--            <button class="hero__container&#45;&#45;btn"><a href="#">Sign Up</a></button>-->
<!--        </div>-->
<!--        <div class="hero__container&#45;&#45;right">-->
<!--            <img-->
<!--                    src="images/img-2.svg"-->
<!--                    class="hero__container&#45;&#45;img"-->
<!--            />-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->










<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>IntelliJs College Consulting</title>
</div>


<!--<th:block layout:fragment="head" th:remove="tag">-->
<!--    <title>Draw</title>-->
<!--</th:block>-->


<div layout:fragment="body" th:remove="tag">
<div>
    <label> Enter the side length and (x,y) of the square</label>
    <input name="form_name" id="length" placeholder="length">
    <input name="form_x" id="x" placeholder="x">
    <input name="form_y" id="y" placeholder="y">
    <button onclick = "drawSquare()" id="button1">Submit</button>


    <h1 class="text-center">JavaScript - Draw on Canvas</h1>
    <div class="container py-4 bg-primary" style="text-align:center;">
        <canvas id="canvas" width="512" height="384" ></canvas>
    </div>

    <script>

        function drawSquare() {
            // https://www.w3schools.com/graphics/canvas_intro.asp
            const canvas = document.getElementById('canvas');
            const ctx = canvas.getContext('2d');
            const width = canvas.width;
            const height = canvas.height;
            const unit = parseInt(document.getElementById("length").value);   // unit block size


            // grid based off of width, height
            function grid() {
                // color and pen width
                ctx.strokeStyle = 'white';
                ctx.lineWidth = 1;
                // make graph paper look
                for (let col = 0; col < width; col += unit) {
                    for (let row = 0; row < height; row += unit) {
                        ctx.strokeRect(col, row, unit, unit);
                    }
                }
            }

            // axis lines
            function axis() {
                // color and pen width
                ctx.strokeStyle = 'red';
                ctx.lineWidth = 3;

                // x & y zero midpoints of grid
                const x0 = width * .5;
                const y0 = height * .5;
                // x-axis
                ctx.moveTo(0, y0);
                ctx.lineTo(width, y0);
                ctx.stroke();
                // y-axis
                ctx.moveTo(x0, 0);
                ctx.lineTo(x0, height);
                ctx.stroke();
            }

            // square using lines
            function square() {
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 5;

                // starting coordinates
                const x1 = width/2;

                const x2 = parseInt(document.getElementById("x").value);

                const x = x2 + x1;

                const y1 = height/2;
                const y2 = parseInt(document.getElementById("y").value);
                const y = y1 + y2;
                // length of sides is 4 units
                const l = unit * 4;

                // draw a square
                ctx.beginPath();
                ctx.moveTo(x, y);
                ctx.lineTo(x, y + l);
                ctx.lineTo(x + l, y + l);
                ctx.lineTo(x + l, y);
                ctx.lineTo(x, y);
                ctx.stroke();
            }

            // three actions
            grid();
            axis();
            // hack 1: make square according to grid positioning
            square();
        }
        // hack 2: plot line or square on grid from user input according
    </script>
</div>
</div>

</html>

<style>
    html, body{
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    }
</style>





















<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html>&ndash;&gt;-->
<!--&lt;!&ndash;<title>IntelliJ's Home</title>&ndash;&gt;-->
<!--&lt;!&ndash;<meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;<meta name="viewport" content="width=device-width, initial-scale=1">&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">&ndash;&gt;-->
<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;    body, html {&ndash;&gt;-->
<!--&lt;!&ndash;        height: 100%;&ndash;&gt;-->
<!--&lt;!&ndash;        font-family: "Inconsolata", sans-serif;&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->

<!--&lt;!&ndash;    .bgimg {&ndash;&gt;-->
<!--&lt;!&ndash;        background-position: center;&ndash;&gt;-->
<!--&lt;!&ndash;        background-size: cover;&ndash;&gt;-->
<!--&lt;!&ndash;        background-image: url("/w3images/coffeehouse.jpg");&ndash;&gt;-->
<!--&lt;!&ndash;        min-height: 75%;&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->

<!--&lt;!&ndash;    .menu {&ndash;&gt;-->
<!--&lt;!&ndash;        display: none;&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Links (sit on top) &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div class="w3-top">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="w3-row w3-padding w3-black">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w3-col s3">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="w3-button w3-block w3-black">HOME</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w3-col s3">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w3-col s3">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#menu" class="w3-button w3-block w3-black">MENU</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w3-col s3">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#where" class="w3-button w3-block w3-black">WHERE</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Header with image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<header class="bgimg w3-display-container w3-grayscale-min" id="home">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="w3-tag">Open from 6am to 5pm</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="w3-display-middle w3-center">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="w3-text-white" style="font-size:90px">the<br>Cafe</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="w3-display-bottomright w3-center w3-padding-large">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="w3-text-white">15 Adr street, 5015</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</header>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Add a background color and large text to the whole page &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div class="w3-sand w3-grayscale w3-large">&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; About Container &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="w3-container" id="about">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w3-content" style="max-width:700px">&ndash;&gt;-->
<!--&lt;!&ndash;            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE CAFE</span></h5>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>The Cafe was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="w3-panel w3-leftbar w3-light-grey">&ndash;&gt;-->
<!--&lt;!&ndash;                <p><i>"Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.</i></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Chef, Coffeeist and Owner: Liam Brown</p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="/w3images/coffeeshop.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>Address:</strong> 15 Adr street, 5015, NY</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Menu Container &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="w3-container" id="menu">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w3-content" style="max-width:700px">&ndash;&gt;-->

<!--&lt;!&ndash;            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">THE MENU</span></h5>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="w3-row w3-center w3-card w3-padding">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="w3-col s6 tablink">Eat</div>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="w3-col s6 tablink">Drink</div>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div id="Eat" class="w3-container menu w3-padding-48 w3-card">&ndash;&gt;-->
<!--&lt;!&ndash;                <h5>Bread Basket</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Honey Almond Granola with Fruits</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Belgian Waffle</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Scrambled eggs</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Blueberry Pancakes</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">&ndash;&gt;-->
<!--&lt;!&ndash;                <h5>Coffee</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Regular coffee 2.50</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Chocolato</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Chocolate espresso with milk 4.50</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Corretto</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Whiskey and coffee 5.00</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Iced tea</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Hot tea, except not hot 3.00</p><br>&ndash;&gt;-->

<!--&lt;!&ndash;                <h5>Soda</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="w3-text-grey">Coke, Sprite, Fanta, etc. 2.50</p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="/w3images/coffeehouse2.jpg" style="width:100%;max-width:1000px;margin-top:32px;">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Contact/Area Container &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="w3-container" id="where" style="padding-bottom:32px;">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w3-content" style="max-width:700px">&ndash;&gt;-->
<!--&lt;!&ndash;            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">WHERE TO FIND US</span></h5>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Find us at some address at some place.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="/w3images/map.jpg" class="w3-image" style="width:100%">&ndash;&gt;-->
<!--&lt;!&ndash;            <p><span class="w3-tag">FYI!</span> We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p><strong>Reserve</strong> a table, ask for today's special or just send us a message:</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <form action="/action_page.php" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="How many people" required name="People"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required name="Message"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p><button class="w3-button w3-black" type="submit">SEND MESSAGE</button></p>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; End page content &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Footer &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<footer class="w3-center w3-light-grey w3-padding-48 w3-large">&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->

<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;    // Tabbed Menu&ndash;&gt;-->
<!--&lt;!&ndash;    function openMenu(evt, menuName) {&ndash;&gt;-->
<!--&lt;!&ndash;        var i, x, tablinks;&ndash;&gt;-->
<!--&lt;!&ndash;        x = document.getElementsByClassName("menu");&ndash;&gt;-->
<!--&lt;!&ndash;        for (i = 0; i < x.length; i++) {&ndash;&gt;-->
<!--&lt;!&ndash;            x[i].style.display = "none";&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;        tablinks = document.getElementsByClassName("tablink");&ndash;&gt;-->
<!--&lt;!&ndash;        for (i = 0; i < x.length; i++) {&ndash;&gt;-->
<!--&lt;!&ndash;            tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;        document.getElementById(menuName).style.display = "block";&ndash;&gt;-->
<!--&lt;!&ndash;        evt.currentTarget.firstElementChild.className += " w3-dark-grey";&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;    document.getElementById("myLink").click();&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
