<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Unit FRQs</title>
    <!-- End of head content specific to page -->
</div>
</head>

<body th:style="'background-image:url(' + @{/images/mountain.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">

<div layout:fragment="content" th:remove="tag">

    <!-- Start of body content specific to page -->
   <p> Test</p>


</div>
</body>
<!-- End of body content specific to page -->


</html>

